.account-section-label {
    font-size: 15px;
    margin-bottom: 10px;
}
.account-label {
    color: #9e9e9e;
    font-size: 12px;
}
.account-input {
    font-size: 12px;
    margin-right: 10px;
    padding: 5px;
}
.account-button-container {
    display: flex;
    flex-direction: row;
}
.account-button {
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    color: #9e9e9e;
    font-size: 12px;
    margin-right: 10px;
    padding: 5px;
    width: unset;
}
.account-button:hover {
    background-color: #9e9e9e;
    border-color: #9e9e9e;
    color: white;
    cursor: pointer;
}
#accountBackgroundBlur {
    background-color: grey;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: 2;
}
#accountContainer {
    background-color: white;
    border-radius: 10px;
    font-size: 1rem;
    overflow-y: scroll;
    padding: 0px 20px;
    position: absolute;
    width: 700px;
    z-index: 3;
}
#accountHeader {
    align-items: center;
    border-bottom: 2px solid #f0f0f0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
}
#accountTitle {
    font-size: 20px;
}
#closeAccountViewButton {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#closeAccountViewButton > div {
    font-size: 20px
}
#closeAccountViewButton > div:hover {
    cursor: pointer;
}
#accountPicture {
    border-bottom: 2px solid #f0f0f0;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    width: 100%;
}
#accountDefaultPicture {
    align-items: center;
    background-color: #9e9e9e;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-around;
    margin-bottom: 10px;
    width: 50px;
}
#accountDefaultPicture > div {
    color: white;
    font-size: 30px;
}
#accountPictureButtons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
#accountInfo {
    border-bottom: 2px solid #f0f0f0;
    padding: 10px 0px;
    width: 100%;
}
#accountInfoErrorMessage {
    display: inline-block;
    font-size: 12px;
}
#accountInfo input {
    width: 200px;
}
#accountInfo > div:nth-child(3) {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
#accountPassword {
    border-bottom: 2px solid #f0f0f0;
    padding: 10px 0px;
    width: 100%;
}
#accountPasswordErrorMessage {
    display: inline-block;
    font-size: 12px;
}
#accountPassword input {
    width: 200px;
}
#accountPassword > div:nth-child(3) {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
