.board-category {
    border: 2px solid white;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    flex: 0 0 300px;
}
.board-category-header {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.board-category-header:hover {
    cursor: pointer;
}
.board-category-name {
    font-size: 15px;
}
.board-category-delete-button {
    background-color: transparent;
    color: #9e9e9e;
    border: none;
}
.board-category-delete-button:hover {
    color: #e3242b;
    font-weight: bold;
}
.board-new-task-button-container {
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    margin-bottom: 10px;
}
.add-task-to-board-button {
    height: 40px;
    width: 100%;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    text-align: center;
    color: #9e9e9e;
    font-size: 1.5em;
    line-height: 100%;
}
.add-task-to-board-button:hover {
    border-color: #9e9e9e;
    color: #9e9e9e;
}
.new-board-task-container {
    background-color: white;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    box-shadow: 3px 3px 2px #888888;
    margin: 0px 12px 12px 10px;
    padding: 10px;
}
.new-board-task-text-box {
    border: none;
    font-size: 12px;
    resize: none;
    width: 100%;
}
.new-board-task-text-box:focus {
    outline: none;
}
.board-task-container {
    overflow-y: scroll;
    padding-left: 12px;
    padding-right: 12px;
}
.board-task {
    background-color: white;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    box-shadow: 3px 3px 2px #888888;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative;
    padding: 10px;
    width: 100%;
}
.board-task:hover {
    border-color: #9e9e9e;
    cursor: pointer;
}
.board-task-completed {
    opacity: 0.5;
}
.board-task-priority {
    font-size: 10px;
    margin-bottom: 10px;
    width: 70px;
}
.board-task-priority-none {
    width: 50px;
    height: 10px;
    border-radius: 5px;
    border: 2px dotted #9e9e9e;
}
.board-task-second-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.board-task-completed-icon {
    background-color: #9e9e9e;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    height: 15px;
    margin-right: 5px;
    width: 15px;
}
.board-task-completed-icon > div {
    margin-top: -1px;
    margin-left: 2px;
}
.board-task-name {
    font-size: 12px;
}
.board-task-name:hover {
    cursor: pointer;
}
.board-task-third-row {
    align-items: center;
    color: #9e9e9e;
    display: flex;
    flex-direction: row;
}
.board-task-third-row > div {
    margin-right: 10px;
}
.board-task-third-row > input {
    margin-right: 10px;
}
.board-task-third-row .unassigned-user-icon:hover {
    border-color: #9e9e9e;
    cursor: pointer;
}
.board-task-third-row .default-profile-pic:hover {
    border-color: #9e9e9e;
    cursor: pointer;
}
.board-task-third-row .unassigned-due-date-icon:hover {
    border-color: #9e9e9e;
    cursor: pointer;
}
.board-task-assignee > div:hover {
    cursor: pointer;
}
.board-task-due-date {
    align-self: center;
    font-size: 12px;
}
.board-task-due-date > div:hover {
    color: #2a9df4;
    cursor: pointer;
}
.board-task-fourth-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.board-task-tag {
    background-color: #9e9e9e;
    border-radius: 10px;
    color: white;
    font-size: 10px;
    padding: 0px 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.board-task-delete-button {
    color: #9e9e9e;
}
.board-task-delete-button:hover {
    color: #e3242b;
    cursor: pointer;
    font-weight: bold;
}
.board-category-drop-area {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
}
.board-task-drop-area {
    position: absolute;
    z-index: -1;
}
#boardContainer {
    height: 100%;
}
#boardCategoryContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-left: 20px;
    padding-right: 20px;
}
#newCategoryNameTextBox {
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    margin-top: 0px;
    width: 100%;
}
#addBoardCategoryButton {
    color: #9e9e9e;
    font-size: 15px;
    padding-left: 14px;
    padding-top: 8px;
}
#addBoardCategoryButton:hover {
    color: #3f3f3f;
    cursor: pointer;
}
#newCategoryNameTextBox:focus {
    outline: none;
}
#removeBoardCategoryAlert {
    position: absolute;
    font-size: 0.75rem;
    color: #e3242b;
    background-color: white;
    padding: 10px;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
}
#boardCategoryContainerExtraWidth {
    width: 20px;
}
#draggedCategoryCopy {
    position: absolute;
    width: 300px;
    margin-top: 20px;
    opacity: .8;
}
#draggedCategoryCopy > div {
    padding-left: 12px;
    padding-right: 12px;
}
#boardCategoryDropAreaIndicator {
    position: absolute;
    z-index: -1;
    background-color: #f0f0f0;
    border-radius: 10px;
}
#boardCategoryDropAreaIndicator > div {
    padding-left: 12px;
    padding-right: 12px;
}
#draggedTaskCopy {
    background-color: white;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    box-shadow: 3px 3px 2px #888888;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    opacity: .8;
    padding: 10px;
    position: absolute;
}
#boardTaskDropAreaIndicator {
    position: absolute;
    padding: 10px;
    z-index: -1;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    background-color: #f0f0f0;
}
