.task-details-label {
    color: #9e9e9e;
    width: 120px;
}
.task-details-value {
    align-items: center;
    border: 2px solid white;
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
}
.task-details-value:hover {
    border-color: #9e9e9e;
    border-radius: 5px;
    cursor: pointer;
}
.task-details-value:hover .task-details-remove-button {
    background-color: #f0f0f0;
}
.task-details-value:hover .task-details-remove-button > div {
    color: #9e9e9e;
}
.task-details-remove-button {
    background-color: white;
    border-radius: 50%;
    height: 20px;
    margin-left: 20px;
    width: 20px;
}
.task-details-remove-button:hover {
    background-color: #9e9e9e !important;
}
.task-details-remove-button:hover > div {
    color: white !important;
}
.task-details-remove-button > div {
    color: white;
    font-size: 15px;
    margin-left: 6px;
    margin-top: -3px;
    position: absolute;
    text-align: center;
}
.task-details-remove-button {
    background-color: white;
    border-radius: 50%;
    height: 20px;
    margin-left: 20px;
    width: 20px;
}
.task-details-remove-button:hover {
    background-color: #9e9e9e !important;
}
.task-details-remove-button:hover > div {
    color: white !important;
}
.task-details-remove-button > div {
    color: white;
    font-size: 15px;
    margin-left: 6px;
    margin-top: -3px;
    position: absolute;
    text-align: center;
}
.task-details-time {
    color: #9e9e9e;
    font-size: 0.75em;
}
#taskDetailsScreen {
    background-color: grey;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: 2;
}
#taskDetailsContainer {
    background-color: white;
    font-size: 1rem;
    overflow-y: scroll;
    padding: 0px 20px;
    position: absolute;
    z-index: 3;
}
#taskDetailsHeader {
    background-color: white;
    border-bottom: 2px solid #f0f0f0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5rem;
    padding: 0px 10px;
    position: absolute;
    z-index: 4;
}
#closeTaskDetailsButton {
    color: #9e9e9e;
}
#closeTaskDetailsButton:hover {
    cursor: pointer;
}
#taskDetailsFirstSection {
    border-bottom: 2px solid #f0f0f0;
    padding: 10px;
}
#taskDetailsName {
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}
#taskDetailsName:focus {
    border-color: #9e9e9e !important;
    outline: none;
}
#taskDetailsName:hover {
    border-color: #f0f0f0;
}
#taskDetailsDescription {
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    color: #9e9e9e;
    padding: 5px;
    resize: none;
    width: 100%;
}
#taskDetailsDescription:focus {
    border-color: #9e9e9e;
    outline: none;
}
#taskDetailsSecondSection {
    border-bottom: 2px solid #f0f0f0;
    padding: 10px;
}
#taskDetailsSecondSection > div {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 50px;
}
#taskDetailsAssignee > *:first-child {
    margin-right: 10px;
}
#taskDetailsDueDate > *:first-child {
    margin-right: 10px;
}
#taskDetailsPriority .task-priority {
    width: 100px;
}
#taskDetailsThirdSection > div {
    padding: 10px;
}
#taskDetailsThirdSection > div {
    align-items: center;
    display: flex;
    flex-direction: row;
}
#taskDetailsThirdSection > div > *:first-child {
    margin-right: 10px;
}
#taskDetailsThirdSection > div > div:nth-child(2) {
    flex: 1;
}
#taskDetailsFooter {
    align-items: center;
    background-color: white;
    border-top: 2px solid #f0f0f0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    padding: 10px 20px;
    flex-direction: row;
    position: absolute;
    z-index: 4;
}
#taskDetailsCommentInput {
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    color: #9e9e9e;
    margin: 0px;
    padding: 5px;
    resize: none;
    width: 100%;
}
#taskDetailsCommentInput:focus {
    border-color: #9e9e9e;
    outline: none;
}

