.nav-link {
    color: #9e9e9e;
}
.nav-bar-link {
    color: #9e9e9e;
    font-size: 15px;
    margin-right: 10px;
}
.nav-bar-link:hover {
    text-decoration: none;
}
#navBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    background-color: white;
    border-bottom: 2px solid #f0f0f0;
    z-index: 1;
}
#navBarLeftSide {
    order: 1;
}
#currentProject {
    display: flex;
    flex-direction: row;
}
#currentProjectName {
    font-size: 20px;
}
#projectDropDownButton {
    color: #9e9e9e;
    font-size: 12px;
    margin-top: 8px;
    margin-left: 10px;
}
#projectDropDownButton:hover {
    color: #3f3f3f;
    cursor: pointer;
}
#projectDropDownMenu {
    background-color: white;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    position: absolute;
}
#projectDropDownMenu > div {
    font-size: 12px;
    padding: 10px;
}
#projectDropDownMenu > div:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
#newProjectButton {
    color: #9e9e9e;
}
#newProjectTextBox {
    font-size: 20px;
    padding: 5px;
}
#navBarRightSide {
    order: 2;
    align-self: center;
}
#loggedInUser:hover {
    cursor: pointer;
}
#userDropDownMenu {
    background-color: white;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    font-size: 12px;
    position: absolute;
    width: 100px;
}
#userLogoutButton {
    padding: 5px;
}
#userLogoutButton:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}