.nav-link {
    color: #9e9e9e;
}
.nav-bar-link {
    color: #9e9e9e;
    font-size: 15px;
    margin-right: 10px;
}
.nav-bar-link:hover {
    text-decoration: none;
}
#navBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    background-color: white;
    border-bottom: 2px solid #f0f0f0;
    z-index: 1;
}
#navBarLeftSide {
    order: 1;
}
#projectDropDownDiv {
    font-size: 20px;
}
#navBarRightSide {
    order: 2;
    align-self: center;
}
#navBarProfilePic {
    background-color: #f0f0f0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}