.new-project-label {
    color: #9e9e9e;
    min-width: 120px;
    width: 120px;
}
.new-project-value {
    align-items: center;
    border: 2px solid white;
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
}
.new-project-value:hover {
    border-color: #9e9e9e;
    border-radius: 5px;
    cursor: pointer;
}
.new-project-value:hover .new-project-remove-button {
    background-color: #f0f0f0;
}
.new-project-value:hover .new-project-remove-button > div {
    color: #9e9e9e;
}
.new-project-remove-button {
    background-color: white;
    border-radius: 50%;
    height: 15px;
    margin-left: 10px;
    width: 15px;
}
.new-project-remove-button:hover {
    background-color: #9e9e9e !important;
}
.new-project-remove-button:hover > div {
    color: white !important;
}
.new-project-remove-button > div {
    color: white;
    font-size: 15px;
    margin-left: 4px;
    margin-top: -5px;
    position: absolute;
    text-align: center;
}
#newProjectBackgroundBlur {
    background-color: grey;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: 2;
}
#newProjectContainer {
    background-color: white;
    border-radius: 10px;
    font-size: 1rem;
    overflow-y: scroll;
    padding: 0px 20px;
    position: absolute;
    z-index: 3;
}
#newProjectFirstSection {
    border-bottom: 2px solid #f0f0f0;
    padding: 10px;
}
#newProjectName {
    border-color: transparent;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}
#newProjectName:focus {
    border-color: #9e9e9e !important;
    outline: none;
}
#newProjectName:hover {
    border-color: #f0f0f0;
}
#newProjectDescription {
    border-color: #f0f0f0;
    color: #9e9e9e;
    font-size: 12px;
    padding: 5px;
    width: 100%;
}
#newProjectDescription:focus {
    border-color: #9e9e9e;
}
#newProjectSecondSection {
    border-bottom: 2px solid #f0f0f0;
    font-size: 12px;
    padding: 10px;
}
#newProjectSecondSection > div {
    align-items: center;
    display: flex;
    flex-direction: row;
}
#newProjectOwner > *:first-child {
    margin-right: 10px;
}
#newProjectDueDate > *:first-child {
    margin-right: 10px;
}
#newProjectTeamMembers {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#newProjectAddTeamMemberButton {
    color: #9e9e9e;
    margin-left: 10px;
    padding: 10px 0px;
}
#newProjectAddTeamMemberButton:hover {
    color: #3f3f3f;
    cursor: pointer;
}
#newProjectThirdSection {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
#newProjectThirdSection > div {
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    color: #9e9e9e;
    font-size: 12px;
    margin-right: 10px;
    padding: 5px;
}
#newProjectThirdSection > div:hover {
    background-color: #9e9e9e;
    border-color: #9e9e9e;
    color: white;
    cursor: pointer;
}
