.project-details-label {
    color: #9e9e9e;
    min-width: 120px;
    width: 120px;
}
.project-details-value {
    align-items: center;
    border: 2px solid white;
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
}
.project-details-value:hover {
    border-color: #9e9e9e;
    border-radius: 5px;
    cursor: pointer;
}
.project-details-value:hover .project-details-remove-button {
    background-color: #f0f0f0;
}
.project-details-value:hover .project-details-remove-button > div {
    color: #9e9e9e;
}
.project-details-value-read-only {
    align-items: center;
    display: flex;
    flex-direction: row;
}
.project-details-remove-button {
    background-color: white;
    border-radius: 50%;
    height: 15px;
    margin-left: 10px;
    width: 15px;
}
.project-details-remove-button:hover {
    background-color: #9e9e9e !important;
    cursor: pointer;
}
.project-details-remove-button:hover > div {
    color: white !important;
}
.project-details-remove-button > div {
    color: white;
    font-size: 15px;
    margin-left: 4px;
    margin-top: -5px;
    position: absolute;
    text-align: center;
}
.project-details-team-member {
    align-items: center;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 5px 10px;
}
.project-details-team-member:hover {
    border-color: #9e9e9e;
}
.project-details-team-member > div:first-child {
    margin-right: 10px;
}
.project-details-team-member:hover .project-details-remove-button {
    background-color: #f0f0f0;
}
.project-details-team-member:hover .project-details-remove-button > div {
    color: #9e9e9e;
}
.project-details-team-member-read-only {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.project-details-team-member-read-only > div:first-child {
    margin-right: 10px;
}
.project-details-tag {
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 0px 10px;
}
.project-details-tag-name {
    color: white;
    margin-right: 10px;
}
.project-details-tag-name-read-only {
    color: white;
}
.project-details-tag-remove-button {
    align-items: center;
    background-color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    height: 12px;
    justify-content: space-around;
    min-height: 12px;
    min-width: 12px;
    width: 12px;
}
.project-details-tag-remove-button:hover {
    cursor: pointer;
}
.project-details-tag-remove-button > div {
    color: #9e9e9e;
    font-size: 10px;
}
#projectDetailsBackgroundBlur {
    background-color: grey;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: 2;
}
#projectDetailsContainer {
    background-color: white;
    border-radius: 10px;
    font-size: 1rem;
    overflow-y: scroll;
    position: absolute;
    z-index: 3;
}
#projectDetailsFirstSection {
    border-bottom: 2px solid #f0f0f0;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 20px;
}
#closeProjectDetailsButton > div {
    color: #9e9e9e;
    font-size: 20px;
}
#closeProjectDetailsButton > div:hover {
    cursor: pointer;
}
#projectDetailsSecondSection {
    border-bottom: 2px solid #f0f0f0;
    font-size: 12px;
    margin: 0px 20px;
    padding: 10px;
}
#projectDetailsName {
    border-color: transparent;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}
#projectDetailsNameReadOnly {
    font-size: 20px;
    width: 100%;
}
#projectDetailsName:focus {
    border-color: #9e9e9e !important;
    outline: none;
}
#projectDetailsName:hover {
    border-color: #f0f0f0;
}
#projectDetailsDescription {
    border-color: #f0f0f0;
    color: #9e9e9e;
    font-size: 12px;
    padding: 5px;
    width: 100%;
}
#projectDetailsDescriptionReadOnly {
    font-size: 12px;
    width: 100%;
}
#projectDetailsDescription:focus {
    border-color: #9e9e9e;
}
#projectDetailsThirdSection {
    font-size: 12px;
    padding: 10px 30px;
}
#projectDetailsThirdSection > div {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
#projectDetailsThirdSection > div:nth-child(2) .project-details-value-read-only {
    margin-bottom: 10px;
    margin-top: 10px;
}
#projectDetailsThirdSection > div:nth-child(3) {
    align-items: baseline;
    margin-bottom: 10px;
}
#projectDetailsThirdSection > div:nth-child(4) {
    align-items: baseline;
}
#projectDetailsOwner > *:first-child {
    margin-right: 10px;
}
#projectDetailsDueDate > *:first-child {
    margin-right: 10px;
}
#projectDetailsTeamMembers {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#projectDetailsAddTeamMemberButton {
    color: #9e9e9e;
}
#projectDetailsAddTeamMemberButton:hover {
    color: #3f3f3f;
    cursor: pointer;
}
#projectDetailsTags {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#projectDetailsAddTagButton {
    color: #9e9e9e;
}
#projectDetailsAddTagButton:hover {
    color: #3f3f3f;
    cursor: pointer;
}
