html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
button {
    background-color: white;
    border: 1px solid #f0f0f0;
}
a:hover {
    color: #2a9df4;
}
.default-profile-pic {
    background-color: #2a9df4;
    border: 2px solid transparent;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.default-profile-pic > div {
    color: white;
    font-size: 15px;
    margin-top: 2px;
    text-align: center;
}
.unassigned-user-icon {
    background-color: #f0f0f0;
    border: 2px solid transparent;
    border-radius: 50%;
    color: #9e9e9e;
    height: 30px;
    vertical-align: middle;
    width: 30px;
}
.unassigned-due-date-icon {
    background-color: #f0f0f0;
    border: 2px solid transparent;
    border-radius: 50%;
    color: #9e9e9e;
    height: 30px;
    vertical-align: middle;
    width: 30px;
}
.assignee-search-result {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    padding: 5px;
    width: 100%;
}
.assignee-search-result > div {
    margin-right: 10px;
}
.task-priority {
    border-radius: 10px;
    padding: 0px 10px;
    text-align: center;
}
.task-priority-none {
    background-color: #9e9e9e;
    color: white;
}
.task-priority-very-low {
    background-color: #fcdc3b;
    color: white;
}
.task-priority-low {
    background-color: #ffc100;
    color: white;
}
.task-priority-medium {
    background-color: #ff9800;
    color: white;
}
.task-priority-high {
    background-color: #ff5607;
    color: white;
}
.task-priority-very-high {
    background-color: #f6412d;
    color: white;
}
.tag-search-result {
    padding: 5px;
    width: 100%;
}
.hidden {
    display: none !important;
}
#assigneeSelectionContainer {
    position: absolute;
    z-index: 4;
    background-color: white;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    padding: 10px;
}
#assigneeSelectionContainer p {
    font-size: 1rem;
}
#assigneeSelectionContainer input {
    font-size: 1rem;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
}
#assigneeSelectionContainer input:focus {
    outline: none;
}
#assigneeSearchResultsContainer {
    position: absolute;
    background-color: white;
    border: 2px solid #f0f0f0;
    width: 100%;
    min-height: 44px;
}
#assigneeSearchResultsContainer div:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
#prioritySelectionContainer {
    background-color: white;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    position: absolute;
    z-index: 4;
}
#prioritySelectionContainer > div {
    padding: 5px 10px;
}
#prioritySelectionContainer > div:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
#prioritySelectionContainer .task-priority {
    text-align: center;
    width: 100px;
}
#tagSelectionContainer {
    background-color: white;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 4;
}
#tagSelectionContainer input {
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    font-size: 1rem;
}
#tagSelectionContainer input:focus {
    outline: none;
}
#tagSearchResultsContainer {
    background-color: white;
    border: 2px solid #f0f0f0;
    position: absolute;
    width: 200%;
}
#tagSearchResultsContainer div:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
#createTagButton {
    color: #9e9e9e;
    padding: 5px;
}