@{
    Layout = "";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Manager</title>
    <link rel="stylesheet" href="~/css/backbone.css" />
</head>
<body>
    <div id="main-container" class="flex-column"></div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.10.2/underscore-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.0/backbone-min.js"></script>
    <script type="text/javascript" src="~/js/app.js"></script>
    <script type="text/javascript" src="~/js/templates/templates.js"></script>
    <script type="text/javascript" src="~/js/models/models.js"></script>
    <script type="text/javascript" src="~/js/collections/collections.js"></script>
    <script type="text/javascript" src="~/js/views/board.js"></script>
    <script type="text/javascript" src="~/js/views/boardCategory.js"></script>
    <script type="text/javascript" src="~/js/views/boardTask.js"></script>
    <script type="text/javascript" src="~/js/views/boardTaskTag.js"></script>
    <script type="text/javascript" src="~/js/views/colorSelection.js"></script>
    <script type="text/javascript" src="~/js/views/colorSelectionOption.js"></script>
    <script type="text/javascript" src="~/js/views/dateSelection.js"></script>
    <script type="text/javascript" src="~/js/views/dateSelectionDay.js"></script>
    <script type="text/javascript" src="~/js/views/dateSelectionWeek.js"></script>
    <script type="text/javascript" src="~/js/views/deleteCategoryConfirmation.js"></script>
    <script type="text/javascript" src="~/js/views/dueDateAssigned.js"></script>
    <script type="text/javascript" src="~/js/views/dueDateIcon.js"></script>
    <script type="text/javascript" src="~/js/views/login.js"></script>
    <script type="text/javascript" src="~/js/views/navigationBar.js"></script>
    <script type="text/javascript" src="~/js/views/popup.js"></script>
    <script type="text/javascript" src="~/js/views/projectDetails.js"></script>
    <script type="text/javascript" src="~/js/views/projectDetailsDescription.js"></script>
    <script type="text/javascript" src="~/js/views/projectDetailsName.js"></script>
    <script type="text/javascript" src="~/js/views/projectDetailsOwner.js"></script>
    <script type="text/javascript" src="~/js/views/projectDetailsTag.js"></script>
    <script type="text/javascript" src="~/js/views/projectDetailsTags.js"></script>
    <script type="text/javascript" src="~/js/views/projectDetailsTeamMember.js"></script>
    <script type="text/javascript" src="~/js/views/projectDetailsTeamMembers.js"></script>
    <script type="text/javascript" src="~/js/views/prioritySelection.js"></script>
    <script type="text/javascript" src="~/js/views/prioritySelectionOption.js"></script>
    <script type="text/javascript" src="~/js/views/tagSelection.js"></script>
    <script type="text/javascript" src="~/js/views/tagSelectionResult.js"></script>
    <script type="text/javascript" src="~/js/views/taskDetails.js"></script>
    <script type="text/javascript" src="~/js/views/taskDetailsComment.js"></script>
    <script type="text/javascript" src="~/js/views/taskDetailsComments.js"></script>
    <script type="text/javascript" src="~/js/views/taskDetailsCompleted.js"></script>
    <script type="text/javascript" src="~/js/views/taskDetailsDescription.js"></script>
    <script type="text/javascript" src="~/js/views/taskDetailsDueDate.js"></script>
    <script type="text/javascript" src="~/js/views/taskDetailsName.js"></script>
    <script type="text/javascript" src="~/js/views/taskDetailsPriority.js"></script>
    <script type="text/javascript" src="~/js/views/taskDetailsTag.js"></script>
    <script type="text/javascript" src="~/js/views/taskDetailsTags.js"></script>
    <script type="text/javascript" src="~/js/views/taskDetailsUser.js"></script>
    <script type="text/javascript" src="~/js/views/userPicture.js"></script>
    <script type="text/javascript" src="~/js/views/userPictureDefault.js"></script>
    <script type="text/javascript" src="~/js/views/userPictureUnassigned.js"></script>
    <script type="text/javascript" src="~/js/views/userSelection.js"></script>
    <script type="text/javascript" src="~/js/views/userSelectionResult.js"></script>

    <script>
        ProjectManager.start('login');
    </script>
</body>
</html>
