@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div id="loginViewSoftwareTitle">Project Manager</div>
    <div id="userLoginContainer">
        <div id="userLoginContainerLeftSide">
            <div class="login-container-title">Log In</div>
            <div id="loginErrorMessage" class="hidden error-message"></div>
            <form>
                <div>Email</div>
                <input id="userLoginEmail" type="email" autocomplete="username"/>
                <div>Password</div>
                <input id="userLoginPassword" type="password" autocomplete="current-password"/>
                <div id="loginButton" class="login-container-button">Log In</div>
            </form>
            <div id="loginViewLinks">
                <a asp-controller="Home" asp-action="Board">Log in as demo user</a>
            </div>
        </div>
        <div id="userLoginContainerRightSide">
            <div class="login-container-title">Sign Up</div>
            <div id="signupErrorMessage" class="hidden error-message"></div>
            <form>
                <div>First Name</div>
                <input id="userSignupFirstName" type="text"/>
                <div>Last Name</div>
                <input id="userSignupLastName" type="text"/>
                <div>Email</div>
                <input id="userSignupEmail" type="email" autocomplete="username"/>
                <div>Password</div>
                <input id="userSignupPassword" type="password" autocomplete="new-password"/>
                <div>Confirm Password</div>
                <input id="userSignupConfirmPassword" type="password" autocomplete="new-password"/>
                <div id="signupButton" class="login-container-button">Sign Up</div>
            </form>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/ajax/user.js"></script>
    <script src="~/js/login/index.js"></script>
    <script src="~/js/shared/validation.js" asp-append-version="true"></script>
</body>
</html>
