@page
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/signup.css" />
</head>
<body>
    <div id="signupViewSoftwareTitle">Project Manager</div>
    <div id="userSignupContainer">
        <div id="signupContainerTitle">Sign Up</div>
        <div>
            <div>First Name</div>
            <input id="userSignupFirstName" type="text" />
        </div>
        <div>
            <div>Last Name</div>
            <input id="userSignupLastName" type="text" />
        </div>
        <div>
            <div>Email Address</div>
            <input id="userSignupEmail" type="text" />
        </div>
        <div>
            <div>Password</div>
            <input id="userSignupPassword"type="password" />
        </div>
        <div>
            <div>Confirm Password</div>
            <input id="userSignupConfirmPassword" type="password" />
        </div>
        <div id="signupViewSignupButton">Sign Up</div>
        <a asp-controller="Home" asp-action="Login">Go back to log in</a>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/ajax/user.js"></script>
    <script src="~/js/signup/index.js"></script>
</body>
</html>
