@model ProjectManager.ViewModels.ProjectViewModel

<div id="accountBackgroundBlur" class="hidden"></div>

<div id="accountContainer" class="hidden">
    <div id="accountHeader">
        <div id="accountTitle">Account Settings</div>
        <div id="closeAccountViewButton" onclick="closeAccountView()">
            <div>x</div>
        </div>
    </div>
    <div id="accountPicture">
        <div class="account-section-label">Profile Picture</div>
        <div id="accountDefaultPicture">
            <div>@Model.LoggedInUser.FirstName[0]@Model.LoggedInUser.LastName[0]</div>
        </div>
        <div class="account-button-container">
            <div class="account-button">Edit Default Picture Color</div>
            <div class="account-button">Upload Picture</div>
        </div>
    </div>
    <form>
        <div id="accountInfo">
            <div class="account-section-label">Account Info</div>
            <div id="accountInfoErrorMessage" class="hidden error-message"></div>
            <div>
                <div>
                    <div class="account-label">First Name</div>
                    <input id="accountFirstName" class="account-input" value="@Model.LoggedInUser.FirstName" />
                </div>
                <div>
                    <div class="account-label">Last Name</div>
                    <input id="accountLastName" class="account-input" value="@Model.LoggedInUser.LastName" />
                </div>
                <div>
                    <div class="account-label">Email</div>
                    <input id="accountEmail" class="account-input" type="email" value="@Model.LoggedInUser.Email" autocomplete="username" />
                </div>
            </div>
            <div class="account-button-container">
                <div class="account-button" onclick="updateAccountInfo()">Save Changes</div>
            </div>
        </div>
    </form>
    <form>
        <div id="accountPassword">
            <div class="account-section-label">Change Password</div>
            <div id="accountPasswordErrorMessage" class="hidden error-message"></div>
            <div>
                <div>
                    <div class="account-label">Current Password</div>
                    <input id="accountCurrentPassword" class="account-input" type="password" autocomplete="current-password" />
                </div>
                <div>
                    <div class="account-label">New Password</div>
                    <input id="accountNewPassword" class="account-input" type="password" autocomplete="new-password" />
                </div>
                <div>
                    <div class="account-label">Confirm Password</div>
                    <input id="accountConfirmedPassword" class="account-input" type="password" autocomplete="new-password" />
                </div>
            </div>
            <div class="account-button-container">
                <div class="account-button" onclick="changePassword()">Change Password</div>
            </div>
        </div>
    </form>
</div>