<div id="prioritySelectionContainer" class="hidden">
    <div class="priority-selection-option" data-priority="5">
        <div class="task-priority task-priority-very-high">Very High</div>
    </div>
    <div class="priority-selection-option" data-priority="4">
        <div class="task-priority task-priority-high">High</div>
    </div>
    <div class="priority-selection-option" data-priority="3">
        <div class="task-priority task-priority-medium">Medium</div>
    </div>
    <div class="priority-selection-option" data-priority="2">
        <div class="task-priority task-priority-low">Low</div>
    </div>
    <div class="priority-selection-option" data-priority="1">
        <div class="task-priority task-priority-very-low">Very Low</div>
    </div>
</div>
