<div id="projectDetailsBackgroundBlur" class="hidden"></div>

<div id="projectDetailsContainer" class="hidden">
    <div id="projectDetailsFirstSection">
        <div id="closeProjectDetailsButton" onclick="closeProjectDetailsView()">
            <div>x</div>
        </div>
    </div>
    <div id="projectDetailsSecondSection"></div>
    <div id="projectDetailsThirdSection"></div>
</div>