<div id="tagSelectionContainer" class="hidden">
    <div>Tag</div>
    <input id="tagSearchBox" type="text" />
    <div id="tagSearchResultsContainer" class="hidden">
        @foreach (Tag tag in Model.Tags)
        {
            <div class="tag-search-result hidden" data-tag-id="@tag.TagId" data-color-index="@tag.BackgroundColor">
                <div class="task-tag color-option-@tag.BackgroundColor">@tag.Name</div>
            </div>
        }
        <div id="createTagButton">+ Create tag named ''</div>
    </div>
</div>
