@model ProjectManager.Models.Task

<div id="taskDetailsScreen" class="hidden"></div>

<div id="taskDetailsHeader" class="hidden">
    <div id="taskDetailsCompletedButton" onclick="taskDetailsToggleCompleted()"></div>
    <div id="closeTaskDetailsButton" onclick="closeTaskDetails()">
        <div>x</div>
    </div>
</div>

<div id="taskDetailsContainer" class="hidden" data-task-id="">
    <div id="taskDetailsFirstSection">
        <input id="taskDetailsName" type="text" spellcheck="false">
        <textarea id="taskDetailsDescription"></textarea>
    </div>
    <div id="taskDetailsSecondSection">
        <div>
            <div class="task-details-label">Assigned To:</div>
            <div id="taskDetailsAssignee" class="task-details-value" onclick="toggleDetailsAssigneeSelectionContainer()"></div>
        </div>
        <div>
            <div class="task-details-label">Due Date:</div>
            <div id="taskDetailsDueDate" class="task-details-value" onclick="toggleDetailsDueDateSelectionContainer()"></div>
        </div>
        <div>
            <div class="task-details-label">Priority:</div>
            <div id="taskDetailsPriority" class="task-details-value" onclick="toggleDetailsPrioritySelectionContainer()"></div>
        </div>
        <div>
            <div class="task-details-label">Tags:</div>
            <div id="taskDetailsAddTagButton" class="task-details-value" onclick="toggleDetailsTagSelectionContainer()">
                + Add Tag
            </div>
        </div>
    </div>
    <div id="taskDetailsThirdSection">
        <div id="taskDetailsCreator"></div>
    </div>
</div>

<div id="taskDetailsFooter" class="hidden">
    <textarea id="taskDetailsCommentInput">Add a comment to this task</textarea>
</div>

