<div id="userSelectionContainer" class="hidden">
    <div>User</div>
        <input id="userSearchBox" type="text" />
        <div id="userSearchResultsContainer" class="hidden">
    </div>
</div>
